In [9]:
import pandas as pd
#from autoviz.AutoViz_Class import AutoViz_Class   # It is for Data Analyzing

In [10]:
data = pd.read_csv('9M+ companies.csv')

In [11]:
data

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate
0,5872184,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906
1,4425416,tata consultancy services,tcs.com,1968.0,information technology and services,10001+,"bombay, maharashtra, india",india,linkedin.com/company/tata-consultancy-services,190771,341369
2,21074,accenture,accenture.com,1989.0,information technology and services,10001+,"dublin, dublin, ireland",ireland,linkedin.com/company/accenture,190689,455768
3,2309813,us army,goarmy.com,1800.0,military,10001+,"alexandria, virginia, united states",united states,linkedin.com/company/us-army,162163,445958
4,1558607,ey,ey.com,1989.0,accounting,10001+,"london, greater london, united kingdom",united kingdom,linkedin.com/company/ernstandyoung,158363,428960
...,...,...,...,...,...,...,...,...,...,...,...
7173421,1494427,certiport vouchers,certiportvouchers.com,2011.0,information technology and services,1 - 10,NaN,NaN,linkedin.com/company/certiport-vouchers,0,1
7173422,1494429,black tiger fight club,blacktigerclub.com,2006.0,"health, wellness and fitness",1 - 10,"peking, beijing, china",china,linkedin.com/company/black-tiger-club-hero,0,6
7173423,4768462,catholic bishop of chicago,NaN,NaN,religious institutions,1 - 10,"inverness, illinois, united states",united states,linkedin.com/company/catholic-bishop-of-chicago,0,1
7173424,1494436,medexo robotics ltd,NaN,NaN,research,1 - 10,"london, london, united kingdom",united kingdom,linkedin.com/company/medexo-robotics-ltd,0,2
7173425,2842728,dynamic controls solutions inc,dynamiccontrolssolutions.com,NaN,automotive,1 - 10,"wixom, michigan, united states",united states,linkedin.com/company/dynamic-controls-solution...,0,1

In [12]:
# AV = AutoViz_Class()
# dfte = AV.AutoViz(data, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
#         chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)

# Domain Analysis

Unnamed : It's not usefull column for our training model
Name : Name of companies
Domain : Domain of companies (websites of companies)
Year Founded : Companies Date of Birth
Industry : The company in which Industry 
Size_range : 4 rare categories: ['501 - 1000', '1001 - 5000', '5001 - 10000', '10001+']
locality : Location
country : country
linkedin url : linkedin url 
current employee estimate : This refers to the number of employees currently working for a company or organization
total employee estimate : This refers to the overall number of employees a company has had over a given period, including former employees who may have left or been let go

# Data Preprocessing

In [15]:
# Handle Null Values
data.fillna("Unknown", inplace=True)

/var/folders/w9/mghdzy956vx3_qjx_6jq1gmh0000gn/T/ipykernel_4844/3283113994.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.fillna("Unknown", inplace=True)

In [16]:
#The column name have spaces we can fill the space with '_'
data = data.rename(columns={'Unnamed: 0':'Unnamed0', 'year founded':'year_founded',
       'size range':'size_range', 'linkedin url':'linkedin_url',
       'current employee estimate':'current_employee_estimate', 'total employee estimate':'total_employee_estimate'})

In [17]:
# Drop Unnamed0 column
data.drop('Unnamed0', axis=1, inplace=True)

In [7]:
data.columns

Index(['name', 'domain', 'year_founded', 'industry', 'size_range', 'locality',
       'country', 'linkedin_url', 'current_employee_estimate',
       'total_employee_estimate'],
      dtype='object')

In [18]:
data.isnull().sum()

name                         0
domain                       0
year_founded                 0
industry                     0
size_range                   0
locality                     0
country                      0
linkedin_url                 0
current_employee_estimate    0
total_employee_estimate      0
dtype: int64

In [21]:
def find_companies_by_industry_and_location_and_size_range(df, industry_req, location_req, size_range_req):
    # Clean up industry and location and size_range input to remove extra spaces
    industry_req = industry_req.strip().lower()
    location_req = location_req.strip().lower()
    size_range_req = size_range_req.strip().lower()

    # List to store all matching companies
    matching_companies = []

    # Loop through each row in the DataFrame
    for idx, row in df.iterrows():
        # Check if the industry and location and size_range  match the user requirements
        industry = str(row['industry']).strip()
        location = str(row['locality']).strip()
        size_range = str(row['size_range']).strip()

        # Ensure both fields are not NaN and compare
        if pd.notna(industry) and pd.notna(location) and pd.notna(size_range):  # Avoid NaN values
            if industry_req in industry.lower() and location_req in location.lower() and size_range_req in size_range.lower():
                matching_companies.append(row)
    
    # Convert the list of matching companies to a DataFrame and return it
    return pd.DataFrame(matching_companies)

# Get user input
industry_req = input("Enter the industry you're searching for: ")  
location_req = input("Enter the location you're searching for: ") 
size_range_req = input("Enter The size range you're searching for e.g('10001+', '5001 - 10000', '1001 - 5000', '501 - 1000', '201 - 500','51 - 200', '11 - 50', '1 - 10')")

# Assuming 'data' is your DataFrame containing company information
matching_companies = find_companies_by_industry_and_location_and_size_range(data, industry_req, location_req, size_range_req)

# Check for possible values in the dataset to help debug
print("\nAvailable industries in the dataset:")
print(data['industry'].unique())

print("\nAvailable locations in the dataset:")
print(data['locality'].unique())

print("\nAvailable Size's in the dataset:")
print(data['size_range'].unique())

# Display all matching companies
if not matching_companies.empty:
    print("\nCompanies matching your industry and location and size_range requirements:")
    print(matching_companies)
else:
    print("\nNo companies found matching your criteria.")

Enter the industry you're searching for:  information technology and services
Enter the location you're searching for:  new york, new york, united states
Enter The size range you're searching for e.g('10001+', '5001 - 10000', '1001 - 5000', '501 - 1000', '201 - 500','51 - 200', '11 - 50', '1 - 10') 10001+

Available industries in the dataset:
['information technology and services' 'military' 'accounting' 'retail'
 'computer software' 'telecommunications' 'defense & space'
 'financial services' 'management consulting' 'banking' 'internet'
 'consumer electronics' 'electrical/electronic manufacturing'
 'public policy' 'government administration' 'restaurants'
 'hospital & health care' 'aviation & aerospace' 'automotive'
 'semiconductors' 'computer networking' 'food & beverages' 'oil & energy'
 'transportation/trucking/railroad' 'pharmaceuticals' 'consumer goods'
 'design' 'education management' 'insurance' 'photography'
 'logistics and supply chain' 'publishing' 'real estate'
 'translation and localization' 'facilities services' 'investment banking'
 'cosmetics' 'human resources' 'medical devices' 'biotechnology'
 'mechanical or industrial engineering' 'broadcast media' 'hospitality'
 'sporting goods' 'chemicals' 'airlines/aviation' 'commercial real estate'
 'construction' 'security and investigations' 'supermarkets'
 'health, wellness and fitness' 'food production' 'civil engineering'
 'medical practice' 'media production' 'machinery' 'utilities' 'textiles'
 'research' 'package/freight delivery' 'mining & metals'
 'mental health care' 'outsourcing/offshoring'
 'professional training & coaching' 'entertainment' 'information services'
 'international affairs' 'wireless' 'writing and editing'
 'building materials' 'higher education' 'law practice'
 'computer hardware' 'tobacco' 'railroad manufacture'
 'international trade and development'
 'public relations and communications'
 'non-profit organization management' 'printing' 'staffing and recruiting'
 'environmental services' 'capital markets' 'farming'
 'business supplies and equipment' 'primary/secondary education'
 'legislative office' 'industrial automation' 'wine and spirits'
 'paper & forest products' 'leisure, travel & tourism' 'arts and crafts'
 'packaging and containers' 'marketing and advertising'
 'civic & social organization' 'apparel & fashion'
 'individual & family services' 'music' 'motion pictures and film'
 'graphic design' 'luxury goods & jewelry' 'renewables & environment'
 'legal services' 'consumer services' 'law enforcement' 'philanthropy'
 'wholesale' 'glass, ceramics & concrete' 'judiciary' 'maritime'
 'market research' 'government relations' 'dairy' 'public safety'
 'recreational facilities and services' 'gambling & casinos'
 'computer games' 'religious institutions' 'warehousing' 'newspapers'
 'fishery' 'political organization' 'investment management' 'animation'
 'computer & network security' 'architecture & planning' 'e-learning'
 'import and export' 'events services' 'online media' 'furniture'
 'plastics' 'sports' 'veterinary' 'executive office' 'program development'
 'fine art' 'fund-raising' 'alternative dispute resolution'
 'museums and institutions' 'alternative medicine' 'think tanks'
 'shipbuilding' 'nonprofit organization management' 'libraries'
 'performing arts' 'venture capital & private equity' 'nanotechnology'
 'ranching' 'Unknown']

Available locations in the dataset:
['new york, new york, united states' 'bombay, maharashtra, india'
 'dublin, dublin, ireland' ... 'wernberg, carinthia, austria'
 'pertisau, tyrol, austria' 'new manchester, west virginia, united states']

Available Size's in the dataset:
['10001+' '5001 - 10000' '1001 - 5000' '501 - 1000' '201 - 500' '51 - 200'
 '11 - 50' '1 - 10']

Companies matching your industry and location and size_range requirements:
                 name          domain  year_founded  \
0                 ibm         ibm.com        1911.0
109   thomson reuters          tr.com        2008.0
152           genpact     genpact.com        1997.0
1102       lexisnexis  lexisnexis.com        1973.0

                                 industry size_range  \
0     information technology and services     10001+
109   information technology and services     10001+
152   information technology and services     10001+
1102  information technology and services     10001+

                               locality        country  \
0     new york, new york, united states  united states
109   new york, new york, united states  united states
152   new york, new york, united states  united states
1102  new york, new york, united states  united states

                              linkedin_url  current_employee_estimate  \
0                 linkedin.com/company/ibm                     274047
109   linkedin.com/company/thomson-reuters                      33745
152           linkedin.com/company/genpact                      29262
1102       linkedin.com/company/lexisnexis                       6685

      total_employee_estimate
0                      716906
109                     96521
152                     61600
1102                    21421

In [22]:
data.size_range.unique()

array(['10001+', '5001 - 10000', '1001 - 5000', '501 - 1000', '201 - 500',
       '51 - 200', '11 - 50', '1 - 10'], dtype=object)

In [23]:
data.industry.unique()

array(['information technology and services', 'military', 'accounting',
       'retail', 'computer software', 'telecommunications',
       'defense & space', 'financial services', 'management consulting',
       'banking', 'internet', 'consumer electronics',
       'electrical/electronic manufacturing', 'public policy',
       'government administration', 'restaurants',
       'hospital & health care', 'aviation & aerospace', 'automotive',
       'semiconductors', 'computer networking', 'food & beverages',
       'oil & energy', 'transportation/trucking/railroad',
       'pharmaceuticals', 'consumer goods', 'design',
       'education management', 'insurance', 'photography',
       'logistics and supply chain', 'publishing', 'real estate',
       'translation and localization', 'facilities services',
       'investment banking', 'cosmetics', 'human resources',
       'medical devices', 'biotechnology',
       'mechanical or industrial engineering', 'broadcast media',
       'hospitality', 'sporting goods', 'chemicals', 'airlines/aviation',
       'commercial real estate', 'construction',
       'security and investigations', 'supermarkets',
       'health, wellness and fitness', 'food production',
       'civil engineering', 'medical practice', 'media production',
       'machinery', 'utilities', 'textiles', 'research',
       'package/freight delivery', 'mining & metals',
       'mental health care', 'outsourcing/offshoring',
       'professional training & coaching', 'entertainment',
       'information services', 'international affairs', 'wireless',
       'writing and editing', 'building materials', 'higher education',
       'law practice', 'computer hardware', 'tobacco',
       'railroad manufacture', 'international trade and development',
       'public relations and communications',
       'non-profit organization management', 'printing',
       'staffing and recruiting', 'environmental services',
       'capital markets', 'farming', 'business supplies and equipment',
       'primary/secondary education', 'legislative office',
       'industrial automation', 'wine and spirits',
       'paper & forest products', 'leisure, travel & tourism',
       'arts and crafts', 'packaging and containers',
       'marketing and advertising', 'civic & social organization',
       'apparel & fashion', 'individual & family services', 'music',
       'motion pictures and film', 'graphic design',
       'luxury goods & jewelry', 'renewables & environment',
       'legal services', 'consumer services', 'law enforcement',
       'philanthropy', 'wholesale', 'glass, ceramics & concrete',
       'judiciary', 'maritime', 'market research', 'government relations',
       'dairy', 'public safety', 'recreational facilities and services',
       'gambling & casinos', 'computer games', 'religious institutions',
       'warehousing', 'newspapers', 'fishery', 'political organization',
       'investment management', 'animation',
       'computer & network security', 'architecture & planning',
       'e-learning', 'import and export', 'events services',
       'online media', 'furniture', 'plastics', 'sports', 'veterinary',
       'executive office', 'program development', 'fine art',
       'fund-raising', 'alternative dispute resolution',
       'museums and institutions', 'alternative medicine', 'think tanks',
       'shipbuilding', 'nonprofit organization management', 'libraries',
       'performing arts', 'venture capital & private equity',
       'nanotechnology', 'ranching', 'Unknown'], dtype=object)

In [24]:
data.locality.unique()

array(['new york, new york, united states', 'bombay, maharashtra, india',
       'dublin, dublin, ireland', ..., 'wernberg, carinthia, austria',
       'pertisau, tyrol, austria',
       'new manchester, west virginia, united states'], dtype=object)

In [25]:
matching_companies

,name,domain,year_founded,industry,size_range,locality,country,linkedin_url,current_employee_estimate,total_employee_estimate
0,ibm,ibm.com,1911.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/ibm,274047,716906
109,thomson reuters,tr.com,2008.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/thomson-reuters,33745,96521
152,genpact,genpact.com,1997.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/genpact,29262,61600
1102,lexisnexis,lexisnexis.com,1973.0,information technology and services,10001+,"new york, new york, united states",united states,linkedin.com/company/lexisnexis,6685,21421

In [26]:
matching_companies.size_range.unique()

array(['10001+'], dtype=object)

In [27]:
matching_companies.to_json('output.json', orient='records')